body {
  background-color: black;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: min-content;
}

span {
  width: 15px;
}

.invisible {
  visibility: hidden;
}

.animated {
  /* animation: anim 10s ease forwards; */
}

@keyframes anim {
  0% { color: #fff }
  5% { color: #03A062; opacity: 100%; }
  100% { opacity: 0 }
}

